/* цвет заголовков #212121 */
/* цвет основного текста #757575 */
/* белый #FFFFFF */
/* цвет акцент #2196F3 */
/* певичный цвет фона #E5E5E5*/
/* вторичный цвет фона #F5F4FA */
/* фон героя и футера #2F303A*/

:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --hero-footer-background: #2f303a;
  --primary-background: #e5e5e5;
  --secondary-background: #f5f4fa;
}
/* */
body {
  background: #ffffff;
}

/* ссылки */
a {
  text-decoration: none; /* Убираем подчёркивание */
}
a:not(.logo):hover {
  color: #2196f3;
}

/* Убираем маркеры */
li {
  list-style-type: none;
}

/* Logo */
.logo {
  color: #000000;
  position: absolute;
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;

  font-family: "Oleo Script";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;

  letter-spacing: 0.03em;
}
.logo-accent {
  color: #2196f3;
  font-family: "Oleo Script";
}

/* панель навигации */
header {
  position: absolute;
  width: 1600px;
  height: 80px;
  left: 0px;
  top: 0px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  background: #ffffff;
}

/* расположение ссылки Студия */
.nav-studio {
  position: absolute;
  width: 49px;
  height: 16px;
  left: 453px;
  top: 32px;
  color: var(--primary-text-color);
}

/* расположение ссылки Портфолио */
.nav-portfolio {
  position: absolute;
  width: 77px;
  height: 16px;
  left: 552px;
  top: 32px;
  color: var(--primary-text-color);
}

/* расположение ссылки Контакты */
.nav-contacts {
  position: absolute;
  width: 68px;
  height: 16px;
  left: 679px;
  top: 32px;
  color: var(--primary-text-color);
}

/* стиль почты в хедере */
.mail {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);

  position: absolute;
  width: 135px;
  height: 16px;
  left: 1078px;
  top: 32px;
}

/* стиль телефона в хедере */
.tel {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);

  position: absolute;
  width: 122px;
  height: 16px;
  left: 1263px;
  top: 32px;
}
/* */

/* секция герой */
.hero {
  position: absolute;
  width: 1600px;
  height: 600px;
  left: 0px;
  top: 80px;

  background: var(--hero-footer-background);
}

/* заголовок секции герой*/
h1 {
  position: absolute;
  width: 696px;
  height: 120px;
  left: 452px;
  top: 200px;
  margin: 0px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}
button {
  position: absolute;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 350px;

  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  /* текст кнопки */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;

  color: #ffffff;
}

/* секция особенности */
.features {
  position: absolute;
  width: 1600px;
  height: 769px;
  left: 0px;
  top: 680px;
  background-color: var(--primary-background);
}

/* скрываем h2 "наши особенности" */
.title-invisible {
  display: none;
}

/* выравниваем тест*/
.in-line {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 30px;

  position: absolute;
  width: 1170px;
  height: 101px;
  left: 215px;
  top: 94px;
}
.features-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}

p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/* секция "чем мы занимаемся"*/
.works {
  position: absolute;
  width: 1170px;
  height: 386px;
  left: 215px;
  top: 969px;
}
.works-title {
  position: absolute;
  width: 376px;
  height: 42px;
  left: 397px;
  top: 0px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0px;

  color: var(--primary-text-color);
}
.works-photo {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 30px;
  margin: 0px;
  margin-top: 92px;
}

/* секция "наша команда" */
.team {
  position: absolute;
  width: 1600px;
  height: 648px;
  left: 0px;
  top: 1449px;

  background: var(--secondary-background);
}

/* заголовок "наша команда" */
.team-title {
  position: absolute;
  width: 264px;
  height: 42px;
  left: 668px;
  top: 94px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0px;

  color: var(--primary-text-color);
}
.team-cards {
  position: absolute;
  width: 1170px;
  height: 368px;
  left: 215px;
  top: 186px;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 30px;
  margin: 0px;
}
.card-shadows {
  background: #ffffff;
  /* material shadow v1 */

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.card-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin: 0px;
  margin-top: 30px;

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}
.card-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin: 0px;
  margin-top: 10px;
  margin-bottom: 30px;

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}
footer {
  position: absolute;
  width: 1600px;
  height: 252px;
  left: 0px;
  top: 2097px;

  background: var(--hero-footer-background);
}
footer.logo {
  position: absolute;
  width: 145px;
  height: 31px;
  left: 215px;
  top: 60px;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: #ffffff;
}
footer.logo-accent {
  color: #2196f3;
  font-family: "Oleo Script";
}
